repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
  - repo: https://github.com/realm/SwiftLint
    rev: 0.52.4
    hooks:
      - id: swiftlint
        name: SwiftLint
        description: Check Swift files for style violations
        entry: swiftlint lint --strict
        language: system
        types: [swift]
